.productPage{
    margin:auto;
    width:70%;
    display: flex;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.detailimg{
    width:450px;
    height: 450px;
    margin-right: 15px;
}
.productDetail>h1{
    color: brown;
}
.productDetail>div{
    margin-top: 50px;
}
.productDetail>div>span{
    margin-right: 50px;
    font-weight: bold;
    font-size: 30px;
    color: rgb(244, 68, 68);
}
.productDetail>div>button{
    padding:10px;
    font-size: 25px;
    border-radius: 7px;
    font-weight: bold;
    background-color: rgb(235, 181, 181);
}
.productDetail>div>button:hover{
    background-color:rgb(203, 82, 82) ;
    color: white;
}





